@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Lager.Models.Part

<td>
    @Model.PartId
</td>

<td>
    @Model.DateAdded
</td>

<td>
    @Model.Cost
</td>

<td>
    @Model.DatePurchased
</td>

<td>
    @Model.Holder
</td>
<td>
    @Model.VendorID
</td>

<td>
    @Model.Description
</td>

<td>
    @Model.PurchaseUrl
</td>

