@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Lager.Models.Part
<td>
    <div class="row">

        <div class="col-xs-1">
            Part ID
        </div>

        <div class="col-xs-1">
            Date Added
        </div>

        <div class="col-xs-1">
            Cost
        </div>

        <div class="col-xs-1">
            Date Purchased
        </div>

        <div class="col-xs-2">
            Holder
        </div>

        <div class="col-xs-1">
            Vendor ID
        </div>

        <div class="col-xs-3">
            Description
        </div>

        <div class="col-xs-2">
            Purchase Url
        </div>

    </div>

    <div class="row">
        <div class="col-xs-1">
            @Model.PartId
        </div>

        <div class="col-xs-1">
            @Model.DateAdded
        </div>

        <div class="col-xs-1">
            @Model.Cost
        </div>

        <div class="col-xs-1">
            @Model.DatePurchased
        </div>

        <div class="col-xs-2">
            @Model.Holder
        </div>

        <div class="col-xs-1">
            @Model.VendorID
        </div>

        <div class="col-xs-3">
            @Model.Description
        </div>

        <div class="col-xs-2">
            @Model.PurchaseUrl
        </div>
    </div>
</td>