@using Lager.Models
@model Lager.Models.PartViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] = Create</title>
</head>
<body>
    <div class= "submit-form container-fluid min-height: 100%">
        <div class="panel panel-primary submit-form container-fluid min-height: 100%">
            @*<div class="alert alert-danger" style="@(Model.isValid?"": "display:none")" id="empty">Please fill out the form</div>*@
            <div class="panel-heading">
                <h2>Create Part</h2>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("AddItem", "Admin", Model))
                {
                    @Html.ValidationSummary(true, "Submit failed, ensure all fields are completed.")

                    <div class="form-group">
                        @Html.LabelFor(x => x.Part.Name)
                        @Html.TextBoxFor(x => x.Part.Name, new { @class = "form-control", @type = "text", @placeholder = "Item Name", required = "true" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Part.Description)
                        @Html.TextBoxFor(x => x.Part.Description, new { @class = "form-control", @type = "text", @placeholder = "Description" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Part.Category)
                        @Html.TextBoxFor(x => x.Part.Category, new { @class = "form-control", @type = "text", @placeholder = "Category", required = "true" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Part.Holder)
                        @Html.TextBoxFor(x => x.Part.Holder, new { @class = "form-control", @type = "text", @placeholder = "Holder" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Part.DateCheckedOut)
                        @Html.TextBoxFor(x => x.Part.DateCheckedOut, new { @class = "form-control", @type = "date", @placeholder = "Date Checked Out" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Part.Cost)
                        @Html.TextBoxFor(x => x.Part.Cost, new { @class = "form-control", @type = "text", @placeholder = "Price", required = "true" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Part.DatePurchased)
                        @Html.TextBoxFor(x => x.Part.DatePurchased, new { @class = "form-control", @type = "date", @placeholder = "Date Purchased" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Part.Vendor)
                        @Html.TextBoxFor(x => x.Part.Vendor, new { @class = "form-control", @type = "text", @placeholder = "Vendor Name", required = "true" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Part.VendorID)
                        @Html.TextBoxFor(x => x.Part.VendorID, new { @class = "form-control", @type = "text", @placeholder = "Vendor ID", required = "true" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Part.PurchaseUrl)
                        @Html.TextBoxFor(x => x.Part.PurchaseUrl, null, new { @class = "form-control", @type = "url", @placeholder = "Enter URL" })
                    </div>

                    <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-save-file"></span> Submit</button>
                }
            </div>
        </div>
    </div>
</body>
</html>