@{
    ViewData["Title"] = "Inventory";
}

@model Lager.Models.ViewModels.InventoryViewModel

<div><h1>Current Inventory</h1></div>
<h2>Complete listing as of @DateTime.Now</h2>
<div class="table-responsive">
    @using (Html.BeginForm("Inventory", "Admin", FormMethod.Post, new { @id = "inventory-table" }))
    {
        @Html.HiddenFor(x => x.PagingInfo.CurrentPageIndex)
        @Html.HiddenFor(x => x.PagingInfo.PageCount)
        @Html.HiddenFor(x => x.PagingInfo.PageSize)
        @Html.HiddenFor(x => x.PagingInfo.SortDesc)
        @Html.HiddenFor(x => x.PagingInfo.SortField)

        <table class="table table-striped table-bordered">
            <tr>
                <th class="table-header" data-sortby="Category">    Category        </th>
                <th class="table-header" data-sortby="Name">        Name            </th>
                <th class="table-header" data-sortby="PartId">      PartId          </th>
                <th class="table-header" data-sortby="DateAdded">   DateAdded       </th>
                <th class="table-header" data-sortby="Cost">        Cost            </th>
                <th class="table-header" data-sortby="Holder">      Holder          </th>
                <th class="table-header" data-sortby="Vendor">      Vendor          </th>
                <th>                                                Description     </th>
                <th class="table-header" data-sortby="PurchaseUrl"> Purchase Url    </th>
            </tr>

            @foreach (var part in Model.Parts)
            {
                <tr>
                    <td>@part.Category</td>
                    <td>@part.Name</td>
                    <td>@part.PartId</td>
                    <td>@part.DateAdded</td>
                    <td>@part.Cost</td>
                    <td>@part.Holder</td>
                    <td>@part.Vendor</td>
                    <td>@part.Description</td>
                    <td>@part.PurchaseUrl</td>
                </tr>

            }

        </table>

        <div id="inventory-nav-btns">
            <ul class="pagination">

                <li class="page-nav-btn @(Model.PagingInfo.CurrentPageIndex == 0? "disabled":"")"
                    data-page-nav="first"><span class="glyphicon glyphicon glyphicon-step-backward"></span></li>

                <li class="page-nav-btn @(Model.PagingInfo.CurrentPageIndex == 0? "disabled":"")"
                    data-page-nav="previous"><span class="glyphicon glyphicon glyphicon-menu-left"></span></li>

                @for (int i = 0; i < Model.PagingInfo.PageCount; i++)
                {
                    <li class="@(i==Model.PagingInfo.CurrentPageIndex?"active":"page-nav-btn")"
                        data-page-nav="@i"><span>@i</span></li>
                }

                <li class="page-nav-btn @(Model.PagingInfo.CurrentPageIndex == Model.PagingInfo.PageCount? "disabled":"")"
                    data-page-nav="next"><span class="glyphicon glyphicon glyphicon-menu-right"></span></li>

                <li class="page-nav-btn @(Model.PagingInfo.CurrentPageIndex == Model.PagingInfo.PageCount? "disabled":"")"
                    data-page-nav="last"><span class="glyphicon glyphicon glyphicon-step-forward"></span></li>

            </ul>

        </div>

    }

        </div>
        <p>
            <a href="Create" class="btn btn-info"><span class="glyphicon glyphicon-plus-sign"></span> Add New</a>
        </p>