@{
    ViewData["Title"] = "Inventory";
}

@model Lager.Models.ViewModels.InventoryViewModel


<div class="row inventory-header page-header">

    <div class="col-xs-4">
        <h2>Current Inventory</h2>
    </div>

    <div class="col-xs-4">

        @using (Html.BeginForm("Search", "Admin", FormMethod.Post, new { @id = "search" }))
        {
            @Html.HiddenFor(x => x.PagingInfo.CurrentPageIndex, 0)
            @Html.HiddenFor(x => x.PagingInfo.PageCount)
            @Html.HiddenFor(x => x.PagingInfo.PageSize)
            @Html.HiddenFor(x => x.PagingInfo.SortDesc)
            @Html.HiddenFor(x => x.PagingInfo.SortField)

            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                </span>
            </div>

        }


    </div>

    <div class="col-xs-4">
        <a href="Create" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Add New</a>
    </div>
</div>



@using (Html.BeginForm("Inventory", "Admin", FormMethod.Post, new { @id = "inventory-table" }))
{
    @Html.HiddenFor(x => x.PagingInfo.CurrentPageIndex)
    @Html.HiddenFor(x => x.PagingInfo.PageCount)
    @Html.HiddenFor(x => x.PagingInfo.PageSize)
    @Html.HiddenFor(x => x.PagingInfo.SortDesc)
    @Html.HiddenFor(x => x.PagingInfo.SortField)

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-xs-2">Edit | Remove</th>
                <th class="col-xs-2">Category</th>
                <th class="col-xs-3">Part Name</th>
                <th class="col-xs-2">Date Checked Out</th>
                <th class="col-xs-2">Vendor</th>
                <th class="col-xs-1">Expand</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Parts)
            {
                <tr>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></button>
                            <button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </td>
                    <td>@item.Category</td>
                    <td>@item.Name</td>
                    <td>@item.DateCheckedOut</td>
                    <td>@item.Vendor</td>
                    <td class="text-center">
                        <div class="btn btn-default expand-btn" data-item-id="@item.Id">
                            <span class="glyphicon glyphicon-menu-down"></span>
                        </div>
                    </td>
                </tr>
                <tr id="row-for-@item.Id" style="display:none">

                    @Html.Partial("_ExtraTableInfo", item)

                </tr>
            }
        </tbody>
    </table>

    @*Paging*@
    <div id="inventory-nav-btns" class="text-center">
        <ul class="pagination pagination-sm">
            <li class="page-nav-btn @(Model.PagingInfo.CurrentPageIndex == 0 ? "disabled" : "")"
                data-page-nav="first"><span class="glyphicon glyphicon glyphicon-step-backward"></span></li>

            <li class="page-nav-btn @(Model.PagingInfo.CurrentPageIndex == 0 ? "disabled" : "")"
                data-page-nav="previous"><span class="glyphicon glyphicon glyphicon-menu-left"></span></li>
        </ul>

        <ul class="pagination pagination-sm">

            @for (int i = 0; i < Model.PagingInfo.PageCount; i++)
            {
                <li class="@(i == Model.PagingInfo.CurrentPageIndex ? "active" : "page-nav-btn")"
                    data-page-nav="@i"><span>@(i + 1)</span></li>
            }
        </ul>

        <ul class="pagination pagination-sm">
            <li class="page-nav-btn @(Model.PagingInfo.CurrentPageIndex == Model.PagingInfo.PageCount - 1 ? "disabled" : "")"
                data-page-nav="next"><span class="glyphicon glyphicon glyphicon-menu-right"></span></li>

            <li class="page-nav-btn @(Model.PagingInfo.CurrentPageIndex == Model.PagingInfo.PageCount - 1 ? "disabled" : "")"
                data-page-nav="last"><span class="glyphicon glyphicon glyphicon-step-forward"></span></li>
        </ul>
    </div>
}
