@using Lager.Models
    

@{
    ViewData["Title"] = "Inventory";
}

<div><h1>Current Inventory</h1></div>
<h2>Complete listing as of @DateTime.Now</h2>
<table style="width:auto" border="1">
    <tr>
        <td>Category</td>
        <td>Name</td>
        <td>PartId</td>
        <td>IsActive</td>
        <td>DateAdded</td>
        <td>Cost</td>
        <td>Holder</td>
        <td>Vendor</td>
        <td>Description</td>
        <td>Purchase Url</td>
    </tr>
    @{foreach (var part in Model)
        {
            <tr>
                <td>@part.Category</td>
                <td>@part.Name</td>
                <td>@part.PartId</td>
                <td>@part.IsActive</td>
                <td>@part.DateAdded</td>
                <td>@part.Cost</td>
                <td>@part.Holder</td>
                <td>@part.Vendor</td>
                <td>@part.Description</td>
                <td>@part.PurchaseUrl</td>
                
            </tr>

        }
    }
</table>
<p>
<a href="Create" class="btn btn-info"><span class="glyphicon glyphicon-plus-sign"></span> Add New</a>
</p>

