@{
    ViewData["Title"] = "Inventory";
}

@model IEnumerable<Lager.Models.Part>

<div><h1>Current Inventory</h1></div>
<h2>Complete listing as of @DateTime.Now</h2>
<div class="table-responsive">
    @using (Html.BeginForm("Inventory", "Admin", FormMethod.Post, new { @id = "inventory-table" }))
    {



        <table class="table table-striped table-bordered">
            <tr>
                <td class="table-header" data-sortby="Category">Category</td>
                <td class="table-header" data-sortby="Name">Name</td>
                <td class="table-header" data-sortby="PartId">PartId</td>
                <td class="table-header" data-sortby="DateAdded">DateAdded</td>
                <td class="table-header" data-sortby="Cost">Cost</td>
                <td class="table-header" data-sortby="Holder">Holder</td>
                <td class="table-header" data-sortby="Vendor">Vendor</td>
                <td>Description</td>
                <td class="table-header" data-sortby="PurchaseUrl">Purchase Url</td>
            </tr>
            @{foreach (var part in Model)
                {
                    <tr>
                        <td>@part.Category</td>
                        <td>@part.Name</td>
                        <td>@part.PartId</td>
                        <td>@part.DateAdded</td>
                        <td>@part.Cost</td>
                        <td>@part.Holder</td>
                        <td>@part.Vendor</td>
                        <td>@part.Description</td>
                        <td>@part.PurchaseUrl</td>
                    </tr>

                }
        </table> 
                   }

    </div>
    <p>
        <a href="Create" class="btn btn-info"><span class="glyphicon glyphicon-plus-sign"></span> Add New</a>
    </p>

