
@using Lager.Models
@{
    ViewBag.match = false;

}
@model User

<h2>Add User</h2>
<div class="form-group">
    @using (Html.BeginForm("AddUser", "Admin", FormMethod.Post))
    {
        <div id="create-user-val-msg" style="display:none">
            @if (ViewBag.match == true)
            {
                <div class="alert alert-success">
                    Passwords match!
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    Passwords don't match.
                </div>

            }
        </div>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Name" })

        @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = "Username" })

        <input id="pswd1" class="form-control" type="password" placeholder="Password" />
        <input id="pswd2" class="form-control" type="password" placeholder="Confirm Password" />



        <div class="col-xs-6 pull-left">
            <input class="btn btn-success @(ViewBag.match ? "" : "disabled")" type="submit" />
            <input class="btn btn-warning" type="reset" />
        </div>
    }
</div>
<script>

    $('#pswd2').focusout(function () {
        $('#create-user-val-msg').fadeIn(500);
        if($('#pswd2') !== "")
            $('#pswd1').val() === $('#pswd2').val() ? @ViewBag.match = true : @ViewBag.match = false;
    });
</script>